<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2026,1102}}</string>
                <key>offset</key>
                <string>{-9,472}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{2026,1102}}</string>
                <key>sourceSize</key>
                <string>{2048,2048}</string>
            </dict>
            <key>mall/active_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1106},{265,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{265,335}}</string>
                <key>sourceSize</key>
                <string>{269,337}</string>
            </dict>
            <key>mall/bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1106},{308,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,98}}</string>
                <key>sourceSize</key>
                <string>{308,98}</string>
            </dict>
            <key>mall/discount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1938},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,24}</string>
            </dict>
            <key>mall/discount_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1297},{6,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,2}}</string>
                <key>sourceSize</key>
                <string>{6,2}</string>
            </dict>
            <key>mall/discount_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1964},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>mall/first_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2008},{26,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,86}}</string>
                <key>sourceSize</key>
                <string>{26,86}</string>
            </dict>
            <key>mall/goods_bg_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1206},{124,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,99}}</string>
                <key>sourceSize</key>
                <string>{124,99}</string>
            </dict>
            <key>mall/goods_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1712},{104,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,126}</string>
            </dict>
            <key>mall/goods_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1332},{178,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{178,149}}</string>
                <key>sourceSize</key>
                <string>{180,153}</string>
            </dict>
            <key>mall/goods_previce_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1106},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>mall/goods_preview_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1964},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>mall/goods_preview_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1297},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>mall/goods_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2037},{32,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,9}}</string>
                <key>sourceSize</key>
                <string>{32,9}</string>
            </dict>
            <key>mall/had_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1707},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,55}</string>
            </dict>
            <key>mall/had_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2008},{152,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,36}}</string>
                <key>sourceSize</key>
                <string>{152,36}</string>
            </dict>
            <key>mall/had_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1443},{245,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,43}}</string>
                <key>sourceSize</key>
                <string>{245,43}</string>
            </dict>
            <key>mall/id.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2008},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>mall/img_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1938},{350,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,68}}</string>
                <key>sourceSize</key>
                <string>{350,68}</string>
            </dict>
            <key>mall/img_role_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1938},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,40}}</string>
                <key>sourceSize</key>
                <string>{158,42}</string>
            </dict>
            <key>mall/item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,1206},{116,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,117}}</string>
                <key>sourceSize</key>
                <string>{116,117}</string>
            </dict>
            <key>mall/lanter_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1938},{22,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,69}}</string>
                <key>sourceSize</key>
                <string>{22,69}</string>
            </dict>
            <key>mall/lantern_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1980},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>mall/lantern_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1980},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>mall/lantern_light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1707},{92,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,109}}</string>
                <key>sourceSize</key>
                <string>{94,111}</string>
            </dict>
            <key>mall/lantern_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{3,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,57}}</string>
                <key>sourceSize</key>
                <string>{3,57}</string>
            </dict>
            <key>mall/nickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1938},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>mall/num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1332},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>mall/num_sbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1405},{61,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>mall/pay_log_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,1106},{189,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,252}}</string>
                <key>sourceSize</key>
                <string>{191,254}</string>
            </dict>
            <key>mall/qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,1106},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>mall/rhombus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1712},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mall/role_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1938},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>mall/select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1818},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>mall/share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1855},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>mall/share_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,1179},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>mall/silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1805},{48,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mall/store_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{1340,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1340,56}}</string>
                <key>sourceSize</key>
                <string>{1340,56}</string>
            </dict>
            <key>mall/store_curtain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{1173,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1173,60}}</string>
                <key>sourceSize</key>
                <string>{1175,60}</string>
            </dict>
            <key>mall/store_shelf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{900,710}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,710}}</string>
                <key>sourceSize</key>
                <string>{900,710}</string>
            </dict>
            <key>mall/store_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2008},{67,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,26}}</string>
                <key>sourceSize</key>
                <string>{67,26}</string>
            </dict>
            <key>mall/store_xslb_banner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1443},{267,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{267,217}}</string>
                <key>sourceSize</key>
                <string>{269,219}</string>
            </dict>
            <key>mall/tab_prop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1609},{120,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{120,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mall/tab_prop_pressI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1483},{124,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{124,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mall/tab_silver_pressI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1206},{120,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{120,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mall/tab_sliver_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1483},{120,90}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{120,90}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mall/tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,1297},{240,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deadcb7d8b98eb806699231f78ba4fa1$</string>
            <key>textureFileName</key>
            <string>mall.png</string>
        </dict>
    </dict>
</plist>
