<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/age_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,211},{82,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,104}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>login/apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,297},{234,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,64}}</string>
                <key>sourceSize</key>
                <string>{234,64}</string>
            </dict>
            <key>login/change_acount.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,311},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,77}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>login/check_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,341},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>login/check_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,311},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>login/custom_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,425},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>login/huawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,3},{418,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{418,77}}</string>
                <key>sourceSize</key>
                <string>{426,79}</string>
            </dict>
            <key>login/last_login_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,165},{123,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,26}}</string>
                <key>sourceSize</key>
                <string>{123,26}</string>
            </dict>
            <key>login/login_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,165},{255,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,128}}</string>
                <key>sourceSize</key>
                <string>{255,128}</string>
            </dict>
            <key>login/oppo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,86},{416,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{416,75}}</string>
                <key>sourceSize</key>
                <string>{426,79}</string>
            </dict>
            <key>login/phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,365},{234,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,64}}</string>
                <key>sourceSize</key>
                <string>{234,64}</string>
            </dict>
            <key>login/progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,297},{102,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,10}}</string>
                <key>sourceSize</key>
                <string>{102,10}</string>
            </dict>
            <key>login/progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,195},{116,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,12}}</string>
                <key>sourceSize</key>
                <string>{116,12}</string>
            </dict>
            <key>login/progress_pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,279},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>login/qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,346},{234,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,64}}</string>
                <key>sourceSize</key>
                <string>{234,64}</string>
            </dict>
            <key>login/start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,165},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>login/visitor.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,392},{234,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,63}}</string>
                <key>sourceSize</key>
                <string>{234,63}</string>
            </dict>
            <key>login/vivo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{424,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,79}}</string>
                <key>sourceSize</key>
                <string>{426,79}</string>
            </dict>
            <key>login/wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,499},{234,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,64}}</string>
                <key>sourceSize</key>
                <string>{234,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d3f8c44161458b2e28c49dbe094833a:ce8283b84df6b0116c3452fc2ebf796d:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
