<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3days.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{178,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,471}}</string>
                <key>sourceSize</key>
                <string>{178,471}</string>
            </dict>
            <key>7days.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1091},{178,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,471}}</string>
                <key>sourceSize</key>
                <string>{178,471}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1296,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1296,576}}</string>
                <key>sourceSize</key>
                <string>{1296,578}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,515},{272,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{272,91}}</string>
                <key>sourceSize</key>
                <string>{276,93}</string>
            </dict>
            <key>continuity.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{212,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,426}}</string>
                <key>sourceSize</key>
                <string>{212,426}</string>
            </dict>
            <key>day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1429},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1362},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1362},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1295},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1295},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1067},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1067},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>digitalabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,608},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>headline.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,603},{462,146}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{462,146}}</string>
                <key>sourceSize</key>
                <string>{468,152}</string>
            </dict>
            <key>img_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,448},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>label_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,361},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>label_eight.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,274},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>label_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,245},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>label_four.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,419},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>label_nine.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,216},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>label_seven.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,332},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>label_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1218},{75,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,27}}</string>
                <key>sourceSize</key>
                <string>{75,27}</string>
            </dict>
            <key>label_six.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,332},{114,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,27}}</string>
                <key>sourceSize</key>
                <string>{114,27}</string>
            </dict>
            <key>label_ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,390},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>label_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,303},{114,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,27}}</string>
                <key>sourceSize</key>
                <string>{114,27}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,949},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1067},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,905},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>role.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,839},{211,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,556}}</string>
                <key>sourceSize</key>
                <string>{211,556}</string>
            </dict>
            <key>sign_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1141},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>sign_btn_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,447},{154,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,29}}</string>
                <key>sourceSize</key>
                <string>{154,29}</string>
            </dict>
            <key>sign_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1397},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sign_buka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sign_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sign_cur.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,216},{103,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,305}}</string>
                <key>sourceSize</key>
                <string>{103,305}</string>
            </dict>
            <key>sign_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,321},{95,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,297}}</string>
                <key>sourceSize</key>
                <string>{95,297}</string>
            </dict>
            <key>sign_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,418},{95,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,295}}</string>
                <key>sourceSize</key>
                <string>{95,297}</string>
            </dict>
            <key>sign_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,608},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{229,229}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>sign_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sign_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,684},{219,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,32}}</string>
                <key>sourceSize</key>
                <string>{219,32}</string>
            </dict>
            <key>signin_flag_taked.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,993},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,55}</string>
            </dict>
            <key>signin_tag_got.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,548},{96,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,53}}</string>
                <key>sourceSize</key>
                <string>{96,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>signin.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739b272023f4a06be654e09c0c1fa959$</string>
            <key>textureFileName</key>
            <string>signin.png</string>
        </dict>
    </dict>
</plist>
