<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,66},{88,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{563,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,161}}</string>
                <key>sourceSize</key>
                <string>{563,161}</string>
            </dict>
            <key>img_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,112},{392,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,10}}</string>
                <key>sourceSize</key>
                <string>{392,10}</string>
            </dict>
            <key>img_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,4},{102,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,12}}</string>
                <key>sourceSize</key>
                <string>{102,12}</string>
            </dict>
            <key>img_progress_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,4},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>netLoad.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34482c8ef01a1189accff786fe997374:89445eb121144bb888a9b17a03bcbb49:d2bdc6158b3ff31894a3907fbb67bb2f$</string>
            <key>textureFileName</key>
            <string>netLoad.png</string>
        </dict>
    </dict>
</plist>
