<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall/dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{122,118}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{122,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>hall/icon_activity_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,107},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>hall/icon_friend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,35},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>hall/icon_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>hall/icon_signin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,35},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>hall/icon_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>hall/img_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,31}}</string>
                <key>sourceSize</key>
                <string>{234,31}</string>
            </dict>
            <key>hall/img_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{150,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,720}}</string>
                <key>sourceSize</key>
                <string>{150,720}</string>
            </dict>
            <key>hall/img_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,107},{600,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,60}}</string>
                <key>sourceSize</key>
                <string>{600,60}</string>
            </dict>
            <key>hall/img_pop_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,126},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,98}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>hall/img_status_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,267},{727,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,78}}</string>
                <key>sourceSize</key>
                <string>{727,78}</string>
            </dict>
            <key>hall/kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20fca45e520765cb6b4951ca74613e2$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
