<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,150}</string>
                <key>spriteSourceSize</key>
                <string>{322,150}</string>
                <key>textureRect</key>
                <string>{{0,166},{322,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,150}</string>
                <key>spriteSourceSize</key>
                <string>{322,150}</string>
                <key>textureRect</key>
                <string>{{0,316},{322,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,150}</string>
                <key>spriteSourceSize</key>
                <string>{322,150}</string>
                <key>textureRect</key>
                <string>{{0,466},{322,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,150}</string>
                <key>spriteSourceSize</key>
                <string>{322,150}</string>
                <key>textureRect</key>
                <string>{{0,616},{322,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaobo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,166}</string>
                <key>spriteSourceSize</key>
                <string>{167,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{167,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,166}</string>
                <key>spriteSourceSize</key>
                <string>{167,166}</string>
                <key>textureRect</key>
                <string>{{167,0},{167,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,150}</string>
                <key>spriteSourceSize</key>
                <string>{322,150}</string>
                <key>textureRect</key>
                <string>{{0,766},{322,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>opmgr.png</string>
            <key>size</key>
            <string>{334,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f710812d762065f930c7a05854006ebc:26661267dcb45f366f41dbc5def7e6d9:faf60b2471bc92e81bfde226001a4c95$</string>
            <key>textureFileName</key>
            <string>opmgr.png</string>
        </dict>
    </dict>
</plist>
