<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bankruptcy_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1827},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>detail_more_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1781},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fail_list1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1993},{597,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,38}}</string>
                <key>sourceSize</key>
                <string>{597,38}</string>
            </dict>
            <key>fail_list2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1993},{597,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,38}}</string>
                <key>sourceSize</key>
                <string>{597,38}</string>
            </dict>
            <key>fail_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1924},{628,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,27}}</string>
                <key>sourceSize</key>
                <string>{628,27}</string>
            </dict>
            <key>failure_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{1920,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,501}}</string>
                <key>sourceSize</key>
                <string>{1920,501}</string>
            </dict>
            <key>hu_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1825},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>lose_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1924},{628,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,27}}</string>
                <key>sourceSize</key>
                <string>{628,27}</string>
            </dict>
            <key>next_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1953},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>player_fail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1500},{258,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,81}}</string>
                <key>sourceSize</key>
                <string>{258,81}</string>
            </dict>
            <key>player_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1825},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>player_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1500},{258,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,81}}</string>
                <key>sourceSize</key>
                <string>{258,81}</string>
            </dict>
            <key>qing_shiba_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1854},{279,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,53}}</string>
                <key>sourceSize</key>
                <string>{279,53}</string>
            </dict>
            <key>qing_shiba_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1500},{279,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,53}}</string>
                <key>sourceSize</key>
                <string>{279,53}</string>
            </dict>
            <key>settle_failure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,751},{747,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,409}}</string>
                <key>sourceSize</key>
                <string>{747,409}</string>
            </dict>
            <key>settle_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{747,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,409}}</string>
                <key>sourceSize</key>
                <string>{747,409}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,501}}</string>
                <key>sourceSize</key>
                <string>{1920,501}</string>
            </dict>
            <key>win_list1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1953},{597,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,38}}</string>
                <key>sourceSize</key>
                <string>{597,38}</string>
            </dict>
            <key>win_list2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1953},{597,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,38}}</string>
                <key>sourceSize</key>
                <string>{597,38}</string>
            </dict>
            <key>win_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{628,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,27}}</string>
                <key>sourceSize</key>
                <string>{628,27}</string>
            </dict>
            <key>yin_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1781},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settle.png</string>
            <key>size</key>
            <string>{1419,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb00d9c48655c82223f7a95ca4c9d521$</string>
            <key>textureFileName</key>
            <string>settle.png</string>
        </dict>
    </dict>
</plist>
