<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{16,0},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{30,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{46,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{62,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{78,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{94,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{110,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{126,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{142,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{158,0},{34,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonghu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,31}</string>
                <key>spriteSourceSize</key>
                <string>{70,31}</string>
                <key>textureRect</key>
                <string>{{192,0},{70,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settle_hu_fail.png</string>
            <key>size</key>
            <string>{262,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7b228cb5e67c2bb6bb3a491dbb8dd96:280ca2234738011bca3799330ee34c94:148a9d2faca3a7fa1a393b1a6c842426$</string>
            <key>textureFileName</key>
            <string>settle_hu_fail.png</string>
        </dict>
    </dict>
</plist>
