<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoya_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,1280}</string>
                <key>spriteSourceSize</key>
                <string>{860,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{860,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoya_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,1280}</string>
                <key>spriteSourceSize</key>
                <string>{860,1280}</string>
                <key>textureRect</key>
                <string>{{860,0},{860,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaoya.png</string>
            <key>size</key>
            <string>{1720,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a5972bdfc9c91639a9e18e5e8d9a125:4d15c56c0dd36b81661c18c3ecc5e676:8b6333f005166e1754cb9e859164f650$</string>
            <key>textureFileName</key>
            <string>xiaoya.png</string>
        </dict>
    </dict>
</plist>
