<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaobo_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,1280}</string>
                <key>spriteSourceSize</key>
                <string>{860,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{860,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaobo_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,1280}</string>
                <key>spriteSourceSize</key>
                <string>{860,1280}</string>
                <key>textureRect</key>
                <string>{{860,0},{860,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaobo.png</string>
            <key>size</key>
            <string>{1720,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c037d2d59845dc716d241bc66df720a0:4561599ca389c2402bdc85db50d5b8f6:1cb67343d9346e3b812c340aa3b10e01$</string>
            <key>textureFileName</key>
            <string>xiaobo.png</string>
        </dict>
    </dict>
</plist>
