<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_AN_GANG.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,128},{306,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,160}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_BAI_WAN_SHI.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1764},{330,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,116}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_BIAN_ZHANG.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,592},{315,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,139}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_DA_YU_WU.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,735},{365,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,119}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_DAI_YAO_JIU.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1244},{320,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,132}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_DUAN_YAO_JIU.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1115},{335,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,127}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_DUI_DUI_HU.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,981},{330,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,130}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_GANG_SHANG_PAO.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1643},{340,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,117}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_HAI_DI_LAO_YUE.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,2},{402,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,122}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_JIANG_DUI.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,572},{290,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,141}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_JIANG_QI_DUI.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1115},{340,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,125}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_JIN_GOU_DIAO.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{375,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,131}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_JUE_ZHANG.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,662},{315,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,139}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_KAN_ZHANG.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1246},{305,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,136}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_LAO_SHAO_FU.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1380},{318,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,130}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_LONG_QI_DUI.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1514},{323,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,125}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_MEN_QING.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,951},{238,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,144}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_MIAO_SHOU_HUI_CHUN.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,292},{400,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,118}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_MING_GANG.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,128},{300,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_PING_HU.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,421},{300,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,147}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QI_DUI.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,446},{265,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,142}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QIANG_GANG_HU.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1374},{304,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,120}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QING_LONG.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,292},{262,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,150}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QING_YI_SE.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,137},{333,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{333,143}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QUAN_DA.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,805},{302,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,142}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QUAN_SHUANG_KE.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,528},{338,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,130}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QUAN_XIAO.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1231},{306,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,139}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_QUAN_ZHONG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,865},{280,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,142}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_SAN_AN_KE.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1498},{330,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,124}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_SAN_JIE_GAO.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,284},{337,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,133}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_SHI_ER_JIN_CHAI.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,414},{400,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,110}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_SHUANG_AN_KE.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1514},{316,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,129}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_SHUANG_TONG_KE.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1626},{318,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{318,128}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_SI_AN_KE.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1647},{317,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,124}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_TUI_BU_DAO.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1099},{335,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,128}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_XIAO_YU_WU.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,858},{360,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,119}</string>
			</dict>
			<key>hzxl/anim_2/point_text/POINT_TYPE_YING_HU.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,717},{280,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pointTextPlist.png</string>
			<key>realTextureFileName</key>
			<string>pointTextPlist.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>