<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doudizhu/desk/alloc.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,108},{507,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,34}}</string>
                <key>sourceSize</key>
                <string>{507,34}</string>
            </dict>
            <key>doudizhu/desk/bg_bottom_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,298},{228,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,51}}</string>
                <key>sourceSize</key>
                <string>{228,51}</string>
            </dict>
            <key>doudizhu/desk/bg_card_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,307},{310,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,43}}</string>
                <key>sourceSize</key>
                <string>{310,43}</string>
            </dict>
            <key>doudizhu/desk/bg_chat_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,544}}</string>
                <key>sourceSize</key>
                <string>{490,544}</string>
            </dict>
            <key>doudizhu/desk/bg_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,479},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>doudizhu/desk/bg_skill_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,351},{194,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,66}}</string>
                <key>sourceSize</key>
                <string>{194,66}</string>
            </dict>
            <key>doudizhu/desk/bg_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,37},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>doudizhu/desk/bg_toolBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,231},{74,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,302}}</string>
                <key>sourceSize</key>
                <string>{74,302}</string>
            </dict>
            <key>doudizhu/desk/broadcast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{700,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,32}}</string>
                <key>sourceSize</key>
                <string>{700,32}</string>
            </dict>
            <key>doudizhu/desk/btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,150},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>doudizhu/desk/btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,419},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>doudizhu/desk/btn_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,37},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>doudizhu/desk/btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>doudizhu/desk/btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,419},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>doudizhu/desk/btn_toolBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,428},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>doudizhu/desk/card_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,36},{607,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,70}}</string>
                <key>sourceSize</key>
                <string>{607,70}</string>
            </dict>
            <key>doudizhu/desk/card_record_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,107},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>doudizhu/desk/card_record_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,36},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>doudizhu/desk/card_record_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,33}</string>
            </dict>
            <key>doudizhu/desk/chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,221},{242,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,75}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>doudizhu/desk/chat_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,144},{242,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,75}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>doudizhu/desk/emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,429},{242,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,75}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>doudizhu/desk/emoji_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,352},{242,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,75}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,220},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,352},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,220},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,368},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,144},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,296},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,360},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,436},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,419},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,298},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,432},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,438},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,370},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,288},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,80},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>doudizhu/desk/emoji_default_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,216},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>doudizhu/desk/info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,144},{358,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,85}}</string>
                <key>sourceSize</key>
                <string>{358,85}</string>
            </dict>
            <key>doudizhu/desk/multiple_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,364},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,351},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,326},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,430},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,106},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>doudizhu/desk/multiple_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,108},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,381},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,245},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>doudizhu/desk/multiple_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,288},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,332},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>doudizhu/desk/multiple_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,231},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>doudizhu/desk/red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,191},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>doudizhu/desk/skill_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,144},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>doudizhu/desk/skill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,288},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>doudizhu/desk/split.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,108},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>doudizhu/desk/tag_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,458},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>doudizhu/desk/tag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,171},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>doudizhu/desk/tag_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,144},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>doudizhu/desk/tag_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,220},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>doudizhu/desk/task_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,461},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>doudizhu/desk/task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,123},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>doudizhu/desk/task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,108},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>doudizhu/desk/task_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,142},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>doudizhu/desk/task_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,337},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>doudizhu/desk/task_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,386},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>doudizhu/desk/task_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,288},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>doudizhu/desk/task_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,421},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>doudizhu/desk/task_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,107},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>doudizhu/desk/task_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,413},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk.png</string>
            <key>size</key>
            <string>{1426,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610334a9d8df4e72ac84a8437fda45d9$</string>
            <key>textureFileName</key>
            <string>desk.png</string>
        </dict>
    </dict>
</plist>
