<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ai_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ai_ing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,20}</string>
                <key>spriteSourceSize</key>
                <string>{71,20}</string>
                <key>textureRect</key>
                <string>{{79,0},{71,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ai_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,330}</string>
                <key>spriteSourceSize</key>
                <string>{10,330}</string>
                <key>textureRect</key>
                <string>{{150,0},{10,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click_ai_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,57}</string>
                <key>spriteSourceSize</key>
                <string>{323,57}</string>
                <key>textureRect</key>
                <string>{{160,0},{323,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ai.png</string>
            <key>size</key>
            <string>{483,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e86d7042641cc8c49ac9c61565260ad:30b50b0b5dae32ecd119c9e3d9faf6d4:ec80893f607c363d8beabbc728191f3a$</string>
            <key>textureFileName</key>
            <string>ai.png</string>
        </dict>
    </dict>
</plist>
