<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectField/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{350,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,68}}</string>
                <key>sourceSize</key>
                <string>{350,68}</string>
            </dict>
            <key>selectField/btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,640},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>selectField/icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,793},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>selectField/icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,903},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>selectField/icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,793},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>selectField/icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,683},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>selectField/icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,573},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>selectField/icon_buxipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,605},{33,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,87}}</string>
                <key>sourceSize</key>
                <string>{33,87}</string>
            </dict>
            <key>selectField/img_bkc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,596},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>selectField/img_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,362},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>selectField/img_kc.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,997},{20,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,59}}</string>
                <key>sourceSize</key>
                <string>{20,59}</string>
            </dict>
            <key>selectField/img_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,162},{319,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,154}}</string>
                <key>sourceSize</key>
                <string>{319,154}</string>
            </dict>
            <key>selectField/img_tab_fanxing_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,302},{173,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,65}}</string>
                <key>sourceSize</key>
                <string>{173,65}</string>
            </dict>
            <key>selectField/img_tab_fanxing_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,834},{180,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,65}}</string>
                <key>sourceSize</key>
                <string>{180,65}</string>
            </dict>
            <key>selectField/img_tab_jiben_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{173,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,65}}</string>
                <key>sourceSize</key>
                <string>{173,65}</string>
            </dict>
            <key>selectField/img_tab_jiben_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,652},{180,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,65}}</string>
                <key>sourceSize</key>
                <string>{180,65}</string>
            </dict>
            <key>selectField/lanter_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{22,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,69}}</string>
                <key>sourceSize</key>
                <string>{22,69}</string>
            </dict>
            <key>selectField/lantern_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,567},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>selectField/lantern_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,482},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>selectField/lantern_light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,362},{92,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,109}}</string>
                <key>sourceSize</key>
                <string>{92,109}</string>
            </dict>
            <key>selectField/lantern_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{3,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,57}}</string>
                <key>sourceSize</key>
                <string>{3,57}</string>
            </dict>
            <key>selectField/name_xb.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,483},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
            <key>selectField/name_xya.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,473},{89,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,130}}</string>
                <key>sourceSize</key>
                <string>{89,130}</string>
            </dict>
            <key>selectField/primary.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,158}}</string>
                <key>sourceSize</key>
                <string>{488,158}</string>
            </dict>
            <key>selectField/quickGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,483},{111,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,27}}</string>
                <key>sourceSize</key>
                <string>{111,27}</string>
            </dict>
            <key>selectField/quickGame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{350,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,68}}</string>
                <key>sourceSize</key>
                <string>{350,68}</string>
            </dict>
            <key>selectField/rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,302},{58,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,212}}</string>
                <key>sourceSize</key>
                <string>{58,212}</string>
            </dict>
            <key>selectField/select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{512,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,182}}</string>
                <key>sourceSize</key>
                <string>{512,182}</string>
            </dict>
            <key>selectField/time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,638},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectField.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38dd3da373072c4f533a5f3ffe1b29ec$</string>
            <key>textureFileName</key>
            <string>selectField.png</string>
        </dict>
    </dict>
</plist>
