<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend/add_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>friend/add_friend_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>friend/female.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>friend/friend_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,32},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>friend/friend_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,127},{204,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,110}}</string>
                <key>sourceSize</key>
                <string>{204,110}</string>
            </dict>
            <key>friend/friend_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,32},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{117,29}</string>
            </dict>
            <key>friend/icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,64},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>friend/icon_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>friend/icon_had_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,127},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>friend/icon_invitation.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,127},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>friend/icon_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,127},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>friend/img_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{73,20}</string>
            </dict>
            <key>friend/img_find_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,32},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>friend/img_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,64},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>friend/img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,127},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>friend/line_curved.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{238,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,25}}</string>
                <key>sourceSize</key>
                <string>{238,25}</string>
            </dict>
            <key>friend/line_curved_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,64},{299,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,37}}</string>
                <key>sourceSize</key>
                <string>{299,37}</string>
            </dict>
            <key>friend/male.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>friend/new.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>friend/select.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>friend/select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb91c463bf58f11eefc3a58b424103f:5075aa80016bb28b9e1072768b9dca9e:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
