<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/exp_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,159},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{78,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>role/gift_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,180},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>role/goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,522},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>role/goods_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,476},{156,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,30}}</string>
                <key>sourceSize</key>
                <string>{156,30}</string>
            </dict>
            <key>role/icon_mask_bn.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,636},{145,159}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{145,159}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_mask_ky.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,331},{145,155}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{145,155}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_mask_qk.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,331},{145,159}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{145,159}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_mask_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,331},{145,153}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{145,153}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_mask_xb.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,522},{145,155}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{145,155}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_mask_xiaoyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,331},{145,157}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{145,157}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_mask_xy.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,522},{145,153}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{145,153}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_bn.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,3},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_ky.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,176},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_qk.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,349},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,727},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_xb.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,727},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_xiaoyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,727},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/icon_select_xy.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,727},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/img_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,429},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>role/img_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,35},{360,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,134}}</string>
                <key>sourceSize</key>
                <string>{360,134}</string>
            </dict>
            <key>role/img_exp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,301},{296,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,16}}</string>
                <key>sourceSize</key>
                <string>{296,16}</string>
            </dict>
            <key>role/img_exp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,429},{294,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{294,14}}</string>
                <key>sourceSize</key>
                <string>{296,16}</string>
            </dict>
            <key>role/img_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,3},{364,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,28}}</string>
                <key>sourceSize</key>
                <string>{364,28}</string>
            </dict>
            <key>role/img_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,173},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>role/img_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,180},{299,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,27}}</string>
                <key>sourceSize</key>
                <string>{299,27}</string>
            </dict>
            <key>role/img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,101},{358,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,3}}</string>
                <key>sourceSize</key>
                <string>{358,3}</string>
            </dict>
            <key>role/img_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,522},{147,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,102}}</string>
                <key>sourceSize</key>
                <string>{147,102}</string>
            </dict>
            <key>role/img_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,522},{169,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,193}}</string>
                <key>sourceSize</key>
                <string>{169,193}</string>
            </dict>
            <key>role/img_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,301},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>role/img_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,211},{299,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,27}}</string>
                <key>sourceSize</key>
                <string>{299,27}</string>
            </dict>
            <key>role/label_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,271},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>role/label_dress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,601},{19,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,46}}</string>
                <key>sourceSize</key>
                <string>{19,46}</string>
            </dict>
            <key>role/label_has_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,241},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>role/label_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,233},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>role/label_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,651},{19,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,46}}</string>
                <key>sourceSize</key>
                <string>{19,46}</string>
            </dict>
            <key>role/leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,173},{319,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,154}}</string>
                <key>sourceSize</key>
                <string>{319,154}</string>
            </dict>
            <key>role/name_bl.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,785},{88,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,129}}</string>
                <key>sourceSize</key>
                <string>{88,129}</string>
            </dict>
            <key>role/name_gy.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,924},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
            <key>role/name_qk.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,924},{91,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,131}}</string>
                <key>sourceSize</key>
                <string>{91,131}</string>
            </dict>
            <key>role/name_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,924},{89,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,129}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>role/name_xb.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,924},{90,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,131}}</string>
                <key>sourceSize</key>
                <string>{90,131}</string>
            </dict>
            <key>role/name_xya.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,924},{91,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,132}}</string>
                <key>sourceSize</key>
                <string>{91,132}</string>
            </dict>
            <key>role/name_xyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,924},{89,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,129}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>role/plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,369},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>role/pull_down_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,264},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>role/pull_up_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,317},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>role/role_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,108},{350,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,68}}</string>
                <key>sourceSize</key>
                <string>{350,68}</string>
            </dict>
            <key>role/role_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,108},{3,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,57}}</string>
                <key>sourceSize</key>
                <string>{3,57}</string>
            </dict>
            <key>role/role_lantern_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,3},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>role/skill_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,73},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>role/skill_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{364,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,94}}</string>
                <key>sourceSize</key>
                <string>{364,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e37dd612af21f9c5da36186bd246d4df:b03cf021780e553f3622f9d88a95ba19:eee9ac4705ce2dddab0b9fdbb6e99b8f$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
