<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail/Read.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>mail/delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>mail/gift_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mail/gift_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>mail/left_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{701,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,16}}</string>
                <key>sourceSize</key>
                <string>{701,16}</string>
            </dict>
            <key>mail/left_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,71},{430,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,602}}</string>
                <key>sourceSize</key>
                <string>{430,602}</string>
            </dict>
            <key>mail/mail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>mail/mail_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{390,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,48}}</string>
                <key>sourceSize</key>
                <string>{390,48}</string>
            </dict>
            <key>mail/mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{379,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,40}}</string>
                <key>sourceSize</key>
                <string>{379,40}</string>
            </dict>
            <key>mail/new.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>mail/noMail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,71},{270,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,202}}</string>
                <key>sourceSize</key>
                <string>{270,202}</string>
            </dict>
            <key>mail/red_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>mail/right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{1135,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1135,609}}</string>
                <key>sourceSize</key>
                <string>{1135,609}</string>
            </dict>
            <key>mail/select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{379,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,108}}</string>
                <key>sourceSize</key>
                <string>{379,108}</string>
            </dict>
            <key>mail/unRead.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mail.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27de5affc173e7c4ebc1c5ff6ba595bc:d4a1491b71a5c50e062fe8f0e622599d:ed283bf91382fa74ea6d76c16a797a6e$</string>
            <key>textureFileName</key>
            <string>mail.png</string>
        </dict>
    </dict>
</plist>
