<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task/num1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,235},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,285},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,255},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,285},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,125},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,125},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,145},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,285},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,305},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>task/num1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,215},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>task/task_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,79},{160,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,62}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>task/task_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,147},{160,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,62}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>task/task_sp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,79},{82,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,16}}</string>
                <key>sourceSize</key>
                <string>{82,16}</string>
            </dict>
            <key>task/task_sp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,269},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>task/task_sp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{459,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,37}}</string>
                <key>sourceSize</key>
                <string>{459,37}</string>
            </dict>
            <key>task/task_sp_12_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{4,47},{457,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,10}}</string>
                <key>sourceSize</key>
                <string>{457,10}</string>
            </dict>
            <key>task/task_sp_12_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{4,63},{457,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,10}}</string>
                <key>sourceSize</key>
                <string>{457,10}</string>
            </dict>
            <key>task/task_sp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,167},{96,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,55}}</string>
                <key>sourceSize</key>
                <string>{96,55}</string>
            </dict>
            <key>task/task_sp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,214},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>task/task_sp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,4},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>task/task_sp_3_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{144,316},{697,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,10}}</string>
                <key>sourceSize</key>
                <string>{697,10}</string>
            </dict>
            <key>task/task_sp_3_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{160,316},{697,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,10}}</string>
                <key>sourceSize</key>
                <string>{697,10}</string>
            </dict>
            <key>task/task_sp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,29},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>task/task_sp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,79},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>task/task_sp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,285},{82,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,17}}</string>
                <key>sourceSize</key>
                <string>{82,17}</string>
            </dict>
            <key>task/task_sp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,215},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>task/task_sp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,250},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>task/task_sp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,79},{922,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{922,134}}</string>
                <key>sourceSize</key>
                <string>{922,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3da0b4f99d145f577618abe9bc65b42:abc47b67a3fc8e4fc9447e07368d67b4:0fe40ccc5647575d2f7ff520a7cb8a4b$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
