<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bugang_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugang_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,30}</string>
                <key>spriteSourceSize</key>
                <string>{85,30}</string>
                <key>textureRect</key>
                <string>{{0,150},{85,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,39}</string>
                <key>spriteSourceSize</key>
                <string>{77,39}</string>
                <key>textureRect</key>
                <string>{{85,150},{77,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,83}</string>
                <key>spriteSourceSize</key>
                <string>{119,83}</string>
                <key>textureRect</key>
                <string>{{0,189},{119,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{72,108}</string>
                <key>textureRect</key>
                <string>{{119,189},{72,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bugang.png</string>
            <key>size</key>
            <string>{194,297}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c915b96ca182e5525ca24ea53cfbff:c99cba23423e1a7302d5acdeab53d14e:227c6fa834d059eacaf46c79332c6126$</string>
            <key>textureFileName</key>
            <string>bugang.png</string>
        </dict>
    </dict>
</plist>
