<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button/agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,230},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>button/btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{200,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,62}</string>
            </dict>
            <key>button/btn_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,184},{108,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,42}}</string>
                <key>sourceSize</key>
                <string>{108,42}</string>
            </dict>
            <key>button/btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{200,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,62}</string>
            </dict>
            <key>button/btn_gray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,95},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>button/btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,140},{108,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,42}}</string>
                <key>sourceSize</key>
                <string>{108,42}</string>
            </dict>
            <key>button/btn_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>button/btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{200,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,62}</string>
            </dict>
            <key>button/btn_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>button/has_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,118},{58,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,19}}</string>
                <key>sourceSize</key>
                <string>{58,19}</string>
            </dict>
            <key>button/ignore.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,230},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
            <key>button/img_allow.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,228},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>button/label_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,95},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>button/label_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,258},{71,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,27}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>button/label_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,228},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>button/label_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,285},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>button/label_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,66},{111,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,27}}</string>
                <key>sourceSize</key>
                <string>{111,27}</string>
            </dict>
            <key>button/label_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,287},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>button/label_del_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,208},{53,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,18}}</string>
                <key>sourceSize</key>
                <string>{53,18}</string>
            </dict>
            <key>button/label_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,256},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{73,26}</string>
            </dict>
            <key>button/label_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{164,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,27}}</string>
                <key>sourceSize</key>
                <string>{164,27}</string>
            </dict>
            <key>button/label_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,257},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>button/label_fight_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,118},{80,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,26}</string>
            </dict>
            <key>button/label_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,89},{73,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,27}</string>
            </dict>
            <key>button/label_goto.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,60},{73,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,27}</string>
            </dict>
            <key>button/label_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,95},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>button/label_modify.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,228},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>button/label_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,200},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>button/label_not_allow.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,31},{82,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,27}}</string>
                <key>sourceSize</key>
                <string>{82,27}</string>
            </dict>
            <key>button/label_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,200},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{73,26}</string>
            </dict>
            <key>button/label_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,229},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>button/label_receive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,178},{54,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,19}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
            <key>button/label_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>button/label_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,284},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>button/label_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>button/label_update.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,66},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>button/label_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,286},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>button/label_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,95},{109,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>button/label_use2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,257},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>button/label_use3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,118},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>button/label_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,201},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>button/lable_logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,95},{109,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,26}}</string>
                <key>sourceSize</key>
                <string>{109,26}</string>
            </dict>
            <key>button/send.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,234},{53,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,19}}</string>
                <key>sourceSize</key>
                <string>{53,19}</string>
            </dict>
            <key>button/support.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,206},{53,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{508,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c441bfadff89c744f94130915032fc$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
