<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common1/XC_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,409},{398,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,113}}</string>
                <key>sourceSize</key>
                <string>{398,113}</string>
            </dict>
            <key>common1/XC_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{239,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,60}}</string>
                <key>sourceSize</key>
                <string>{239,60}</string>
            </dict>
            <key>common1/bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>common1/bg_shiled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>common1/bg_shiled_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>common1/black_100x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,296},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>common1/black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>common1/camera_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,216},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>common1/cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,725},{147,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,212}}</string>
                <key>sourceSize</key>
                <string>{147,212}</string>
            </dict>
            <key>common1/cat_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,725},{158,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,194}}</string>
                <key>sourceSize</key>
                <string>{158,194}</string>
            </dict>
            <key>common1/common_1_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{116,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{116,27}</string>
            </dict>
            <key>common1/common_1_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{119,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,27}}</string>
                <key>sourceSize</key>
                <string>{119,27}</string>
            </dict>
            <key>common1/common_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,216},{274,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,68}}</string>
                <key>sourceSize</key>
                <string>{274,68}</string>
            </dict>
            <key>common1/common_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,216},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>common1/common_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>common1/common_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,90},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>common1/common_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,151},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>common1/common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,151},{93,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>common1/common_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,151},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>common1/common_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,151},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>common1/common_checkbox_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>common1/common_checkbox_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,90},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>common1/common_checkbox_selected1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,90},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>common1/common_dot_1line.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>common1/common_dot_1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>common1/common_dot_4x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>common1/common_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,42},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>common1/common_hadReceive_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>common1/common_icon_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,90},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common1/common_icon_butterfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>common1/common_icon_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,90},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common1/common_icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,90},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common1/common_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,296},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>common1/common_list_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,296},{1,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,96}}</string>
                <key>sourceSize</key>
                <string>{1,96}</string>
            </dict>
            <key>common1/common_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,216},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>common1/common_money_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{178,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,38}}</string>
                <key>sourceSize</key>
                <string>{178,38}</string>
            </dict>
            <key>common1/common_receive_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,216},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>common1/common_status_unkwon.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,551},{460,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,172}}</string>
                <key>sourceSize</key>
                <string>{460,172}</string>
            </dict>
            <key>common1/common_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,296},{53,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,111}}</string>
                <key>sourceSize</key>
                <string>{53,111}</string>
            </dict>
            <key>common1/common_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,296},{53,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,111}}</string>
                <key>sourceSize</key>
                <string>{53,111}</string>
            </dict>
            <key>common1/common_title_adorn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>common1/common_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,42},{545,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,43}}</string>
                <key>sourceSize</key>
                <string>{545,43}</string>
            </dict>
            <key>common1/common_title_level1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{51,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,186}}</string>
                <key>sourceSize</key>
                <string>{51,186}</string>
            </dict>
            <key>common1/diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,42},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>common1/dot_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>common1/golden_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>common1/goods_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,409},{104,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,126}</string>
            </dict>
            <key>common1/head_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,90},{25,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,52}}</string>
                <key>sourceSize</key>
                <string>{25,52}</string>
            </dict>
            <key>common1/img_add_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>common1/img_build_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,90},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>common1/img_friend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,296},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>common1/indicator_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>common1/indicator_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{33,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,11}}</string>
                <key>sourceSize</key>
                <string>{33,11}</string>
            </dict>
            <key>common1/mask_100_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,296},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>common1/pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,409},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>common1/pet_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,42},{185,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,41}}</string>
                <key>sourceSize</key>
                <string>{185,41}</string>
            </dict>
            <key>common1/rhombus.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,296},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common1/role_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,90},{25,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,52}}</string>
                <key>sourceSize</key>
                <string>{25,52}</string>
            </dict>
            <key>common1/sc_yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,551},{281,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,160}}</string>
                <key>sourceSize</key>
                <string>{281,160}</string>
            </dict>
            <key>common1/tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,90},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>common1/tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,90},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>common1/tab_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{198,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,79}}</string>
                <key>sourceSize</key>
                <string>{198,79}</string>
            </dict>
            <key>common1/tab_dot_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>common1/tab_dot_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>common1/tab_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,2},{198,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,1}}</string>
                <key>sourceSize</key>
                <string>{198,1}</string>
            </dict>
            <key>common1/tab_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,409},{160,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,135}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>common1/talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{233,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,154}}</string>
                <key>sourceSize</key>
                <string>{233,154}</string>
            </dict>
            <key>common1/talk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,90},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>common1/talk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,90},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>common1/talk_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{228,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,112}}</string>
                <key>sourceSize</key>
                <string>{228,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5b183d42e250bca6efb383f5f243140:89602f74a45f8313572d4537976855cc:dc13ac74c7f79498d79f7137503c7b82$</string>
            <key>textureFileName</key>
            <string>common1.png</string>
        </dict>
    </dict>
</plist>
