<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog_title/buyProp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,266},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>dialog_title/change_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>dialog_title/ddz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,39},{98,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,35}}</string>
                <key>sourceSize</key>
                <string>{98,35}</string>
            </dict>
            <key>dialog_title/friend_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,207},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>dialog_title/gift_comtent.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,171},{131,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,34}}</string>
                <key>sourceSize</key>
                <string>{131,34}</string>
            </dict>
            <key>dialog_title/goods_comtent.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,135},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>dialog_title/indulge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{353,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,35}}</string>
                <key>sourceSize</key>
                <string>{353,35}</string>
            </dict>
            <key>dialog_title/new_version.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,35}}</string>
                <key>sourceSize</key>
                <string>{162,35}</string>
            </dict>
            <key>dialog_title/real_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>dialog_title/sellProp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,265},{128,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{128,35}</string>
            </dict>
            <key>dialog_title/tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,244},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>dialog_title/tobuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,135},{131,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,34}}</string>
                <key>sourceSize</key>
                <string>{131,34}</string>
            </dict>
            <key>dialog_title/update_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>dialog_title/use_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,135},{128,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{128,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_title.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100e3844c7c24cb5f9d46735f1b5f105$</string>
            <key>textureFileName</key>
            <string>dialog_title.png</string>
        </dict>
    </dict>
</plist>
