<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog_bg/bg_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{1006,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,206}}</string>
                <key>sourceSize</key>
                <string>{1006,206}</string>
            </dict>
            <key>dialog_bg/bg_706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{706,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,204}}</string>
                <key>sourceSize</key>
                <string>{706,204}</string>
            </dict>
            <key>dialog_bg/bg_806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{806,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,210}}</string>
                <key>sourceSize</key>
                <string>{806,210}</string>
            </dict>
            <key>dialog_bg/bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dialog_bg/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,628},{93,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,62}}</string>
                <key>sourceSize</key>
                <string>{93,62}</string>
            </dict>
            <key>dialog_bg/title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,628},{545,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,33}}</string>
                <key>sourceSize</key>
                <string>{545,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49baa33316755e52a5776d348786bf9a:6646e5ac014ed8241a8a01dbd881e92c:5d93169b95832367f6fe2248cadd4d12$</string>
            <key>textureFileName</key>
            <string>dialog_bg.png</string>
        </dict>
    </dict>
</plist>
