<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang_hua_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guo_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{0,118},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{150,118},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>op_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,119}</string>
                <key>spriteSourceSize</key>
                <string>{162,119}</string>
                <key>textureRect</key>
                <string>{{300,236},{162,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>op_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,29}</string>
                <key>spriteSourceSize</key>
                <string>{209,29}</string>
                <key>textureRect</key>
                <string>{{0,355},{209,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{300,118},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rect_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,100}</string>
                <key>spriteSourceSize</key>
                <string>{470,100}</string>
                <key>textureRect</key>
                <string>{{0,384},{470,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>un_hu_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{0,236},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimo_op.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,118}</string>
                <key>textureRect</key>
                <string>{{150,236},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>opinfo.png</string>
            <key>size</key>
            <string>{470,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e65c63b8b4ade4f3a6ec03be4cf2bcca:d60cacc4322eb78937d8e5e68b6a565b:3100323701cc7c1f2a078823f6841257$</string>
            <key>textureFileName</key>
            <string>opinfo.png</string>
        </dict>
    </dict>
</plist>
