<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,55}</string>
                <key>spriteSourceSize</key>
                <string>{362,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{362,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,29}</string>
                <key>spriteSourceSize</key>
                <string>{6,29}</string>
                <key>textureRect</key>
                <string>{{362,0},{6,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,29}</string>
                <key>spriteSourceSize</key>
                <string>{116,29}</string>
                <key>textureRect</key>
                <string>{{368,0},{116,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,90}</string>
                <key>spriteSourceSize</key>
                <string>{234,90}</string>
                <key>textureRect</key>
                <string>{{0,55},{234,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,90}</string>
                <key>spriteSourceSize</key>
                <string>{234,90}</string>
                <key>textureRect</key>
                <string>{{234,55},{234,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>match.png</string>
            <key>size</key>
            <string>{484,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d84637f413a6387c805b72778c6c1a7:f1cbf576423949ea22f4b70ed2996c02:1d74cf92942b912aab982def81a2b889$</string>
            <key>textureFileName</key>
            <string>match.png</string>
        </dict>
    </dict>
</plist>
